<body>
<h1>Welcome to home page</h1>
<div class ="center">
    <h2>Log in</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label style="font-size: 20px;padding-bottom: 10px;">Username</mat-label>
          <input matInput>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <mat-label style="font-size: 20px;padding-bottom: 10px;">Password</mat-label>
            <input matInput>
          </mat-form-field>
          <button mat-raised-button color="accent">Log in</button>
      </form>
</div>
<div class ="center">
    <h2>Don't have an account ? Register!</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label style="font-size: 20px;padding-bottom: 10px;">Enter username</mat-label>
          <input matInput>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <mat-label style="font-size: 20px;padding-bottom: 10px;">Enter password</mat-label>
            <input matInput>
          </mat-form-field>
          <button mat-raised-button color="accent">Register</button>
      </form>
</div>
</body>
